<ion-view view-title="Highscores">
  <ion-content class="padding">
    <h2>Ranking</h2>
    <button class="button button-full button-positive" ng-click="addItem()">
      Add score
    </button>
    <ul class="list" ng-repeat="score in scores" show-delete="shouldShowDelete"
          show-reorder="shouldShowReorder"
          can-swipe="listCanSwipe">
        <li class="item" ng-click="removeScore(score)">
          {{score.name}}: {{score.score}}
        </li>
    </ul>
  </ion-content>
</ion-view>
