<ion-view view-title="Beacons">
  <ion-content>

	<label class="item item-input">
	  <span class="input-label">Gebruikersnaam</span>
	  <input type="text" name="username" id="username">
	</label>

	<label class="item item-input item-select">
	    <div class="input-label">
	      Interface kleur
	    </div>
	    <select id="color">
	      <option value="red" selected>Rood</option>
	      <option value="orange">Oranje</option>
	      <option value="yellow">Geel</option>
	      <option value="green">Groen</option>
	      <option value="blue">Blauw</option>
	      <option value="purple">Paars</option>
	    </select>
	  </label>

    <!--div class="message">
        {{currentMessage}}
    </div-->
    <div class="test">
    	{{log}}
    </div>
  </ion-content>
</ion-view>
