/* Empty. Add your own CSS if you like */

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ion-header-bar{
	transition: 0.5s ease all;
}

ion-header-bar .title{
	transition: 0.5s ease all;
}

.purple{
	background-color: #673957 !important;
}

.purple .title{
	color: white !important;
}

.green{
	background-color: #257945 !important;
}

.green .title{
	color: white !important;
}

.red{
	background-color: #8a2e45 !important;
}

.red .title{
	color: white !important;
}

.blue{
	background-color: #2d6bd3 !important;
}

.blue .title{
	color:  white !important;
}

.yellow{
	background-color: #eae03a !important;
}

.yellow .title{
	color:  white !important;
}

.orange{
	background-color: #d39a2d !important;
}

.orange .title{
	color:  white !important;
}